/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for header and navigation */
.header {
    background-color: #383637;
    padding: 10px 0;
    z-index: 100;
    width: 100%;
}

.navbar {
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: space-between;
    align-items: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #00b3ff;
}
/* Basic styling for hero section */
.hero {
    background-image: url('Images/Background.png');
    background-size: cover;
    background-position: center;
    color: #060606;
    text-align: center;
    padding: 150px 0;
}
@keyframes fade-in {
    from {
        opacity: 10;
        transform: translateY(120px);
    }
    to {
        opacity: 10;
        transform: translateY(100);
    }
}
.hero-content {
    animation: fade-in 1s ease-out;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0c0e0f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e55d00;
    
}

/* Styling for features section */
.features {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 120px;
    display: grid;
    gap: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Spacing between items */
    flex: 0 1 calc(33.33% - 20px);
    text-align: center;
}

.feature img {
    width: 175px;
    height: 175px;
    margin-bottom: 50px;
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Styling for footer */
.footer {
    background-color: #292b2c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
